<div class="tw-m-24-px">
  <div class="tw-mb-24-px tw-text-24-px">
    Top {{ booksList.length }} book{{ booksList.length > 1 ? 's' : '' }} on
    {{ subjectName }}
    {{ state }}
    <ng-container>
      <table class="table-view">
        <thead>
          <tr class="table-row">
            <th class="header">Title and Sub Title</th>
            <th class="header">Author</th>
            <th class="header">First Publish Year</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr
            *ngFor="
              let book of booksList
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: currentPage,
                      totalItems: totalItems
                    }
            "
            class="row-data"
          >
            <td>
              <a
                class="tw-no-underline"
                href="https://openlibrary.org{{ book.key }}"
                target="_blank"
                >{{ book.title }}</a
              >
            </td>
            <td>
              {{
                book.authors
                  ? book.authors.length > 0
                    ? book.authors[0].name
                    : 'Unknown'
                  : book.author_name && book.author_name.length > 0
                  ? book.author_name && book.author_name[0]
                  : 'Unknown'
              }}
            </td>
            <td>{{ book.first_publish_year }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
<div
  class="tw-grid tw-place-content-center tw-h-full tw-w-full"
  *ngIf="state === 'notfound'"
>
  <!-- <mat-icon class="spin" aria-label="Loading">refresh</mat-icon> -->
  <img
    src="https://as1.ftcdn.net/v2/jpg/01/29/40/84/1000_F_129408450_0ghlLqosaBVASrDhZCL2rTAhFRLUaAkR.jpg"
    class="tw-h-96 tw-w-96"
    alt="Not Found"
  />
  <p class="tw-grid tw-place-content-center tw-text-24-px">No resutls found</p>
</div>
